@import "utilities.less";
@import "goldilocks.less";
@import "variables.less";

*{
	box-sizing: border-box;
}

html,body{
	background:@WHITE;
	color:@TEXT;
	font-family:@FONT;
	font-weight:300;
	line-height:1.75em;
	overflow-x:hidden;
}

a{
	.has-transition(.25s);
	border-bottom:1px solid transparent;
	color:@ACCENT1;
	padding:1px 0;
	text-decoration:none;

	&:hover,&:focus{
		text-decoration:underline;
    	text-decoration-skip:ink;
	}

	&:visited{
		color:@ACCENT2;
	}
}

header{
	font-family:@FONT;
	padding:@GAP*3 @GAP @GAP;
	text-align:center;
	text-transform:uppercase;
	z-index:100;
	img{
		padding:@GAP 10%;
		width:100%;
		max-width:250px;
	}
	nav{
		list-style:none;
		margin:0 auto;
		padding:0 @GAP;
		a{
			.has-transition(.5s);
			border-bottom:1px solid transparent;
			display:inline-block;
			margin:0 @GAP/2;
			color:@TEXT;
			padding:@GAP/2;
			position:relative;
			&:hover,&:focus,&:active{
				text-decoration:none;
				border-bottom:@ACCENT1;
			}
			&:visited{
				color:@TEXT;
			}
			&.active{
				border-bottom-color:@ACCENT1;
			}
		}
	}
}

figure{
	margin:@GAP 0 @GAP * 2;
	figcaption{
		font-size:.9em;
		font-style:italic;
		line-height:1.25em;
	}
}

footer{
	padding:@GAP;
	text-align:center;
	z-index:101;
	h2{
		font-family:@FONT;
		font-weight:300;
		padding:0 @GAP;
		margin:0 0 @GAP;
		text-transform:uppercase;
	}
	ul{
		list-style:none;
		margin:0 auto;
		padding:0 @GAP;
		li{
			display:inline-block;
			margin:5px @GAP/2;
			font-size:1.1em;
			a{
				color:@TEXT;
				padding:@GAP/2;
				&:hover,&:focus{
					color:@ACCENT;
				}
				&:focus{
					border-bottom:1px solid @ACCENT1;
				}
			}
		}
	}
}

main{
	margin:0 auto;
	padding:@GAP;
}

section{
	padding:@GAP*3 @GAP/2;
	&:first-child{
		opacity:1;
		padding-top:@GAP;
	}
	h2{
		font-size:1.5em;
		font-weight:600;
		margin-bottom:@GAP*1.5;
		position:relative;
		text-transform:uppercase;
		&:after{
			background:@ACCENT;
			content:" ";
			height:2px;
			position:absolute;
			left:0;
			bottom:@GAP/-2;
			width:@GAP * 3;
		}
	}
}

#back-to-top{
	.has-transition(.5s);

	position:fixed;
	bottom:@GAP;
	right:@GAP;

	font-size:1.25em;
	height:@GAP*3;
	line-height:40px;
	text-align:center;
	width:@GAP * 3;

	border:1px solid @ACCENT;
	border-radius:@BORDER_RADIUS;
	background:@WHITE;
	color:@ACCENT;

	opacity:0;

	&.show{
		opacity:.8;
		&:hover,&:focus{
			background:@ACCENT;
			color:@WHITE;
			cursor:pointer;
			opacity:1;
		}
		&:focus{
			outline-color:@ACCENT2;
		}
	}
}

#title-svg{
	display:none;
	fill:@ACCENT;
	fill-opacity:0;
	margin-bottom:2em;
	max-width:500px;
}

#zoom{
	background:fade(@TEXT,50%);
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;

	opacity:0;

	.image{
		display:block;
		margin:auto;
		max-width:80%;
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
	}
}

.about-list{
	list-style:none;
	margin:0 0 @GAP*2;
	padding:0;
	li{
		margin-bottom:@GAP;	
		padding-left:@GAP*1.5;
		position:relative;
		&:before{
			content:"";

			position:absolute;
			top:13px;
			left:0;

			background:@ACCENT;
			height:1px;
			width:10px;
		}
	}
	a{
		font-weight:bold;
	}
}

.project-list{
	list-style:none;
	margin:@GAP*2 0;
	max-width:none!important;
	padding:0;
	> li{
		.has-transition(.25s);
		border:1px solid transparent;
		border-radius:@BORDER_RADIUS;
		display:inline-block;
		margin:@GAP 0;
		max-width:300px;
		padding:@GAP;
		vertical-align:top;
		width:100%;
		h3{
			font-weight:bold;
			height:35px;
			margin-bottom:0;
			text-align:center;
			text-transform:uppercase;
		}
		figure{
			float:none;
			padding:0;
			margin:0 auto;
			margin-bottom:@GAP*2;
			max-width:200px;
			text-align:center;
			img:hover{
				cursor:zoom-in;
			}
		}
	}
	&.wide >li figure{
		max-width:none;
	}
	.categories{
		color:lighten(@TEXT,15%);
		font-size:.85em;
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		top:@GAP * -4;
		text-align:center;
		li{
			display:inline-block;
			&:after{
				content:", ";
			}
			&:last-child:after{
				content:"";
			}
		}
	}
	p{
		font-size:.95em;
		margin-top:@GAP * -1;
		a{
			font-style:normal;
			text-decoration:underline;
			text-decoration-skip:ink;
		}
	}
}

.main-section{
	font-size:1.25em;
	.subheading{
		font-style:normal;
		margin-bottom:0;
		max-width:550px;
	}
}

.sidenote{
	border-left:1px solid fade(@ACCENT,50%);
	font-size:.9em;
	font-style:italic;
	padding:0 @GAP;
}

.subheading{
	line-height:1.5em;
	margin:0 0 @GAP * 2;
	max-height:150px;
	overflow:hidden;
	font-style:italic;
}

.main-on-mobile{
	font-size:2.15em;
	font-weight:bold;
	margin-top:@GAP * -2;
	.accent{
		color:@ACCENT;
	}
}

.showcase{
	.clearfix();
	list-style:none;
	margin:@GAP auto;
	padding:0;
	text-align:center;
	li{
		display:inline-block;
		margin:@GAP;
		max-width:300px;
	}
}